/*# sourceMappingURL=app.css.map */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg-modify.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 79%;
    height: 100vh;

    .inner {
        position: relative;
        height: 100vh;
        width: 100%;

        img {
            opacity: 0;
            width: 160px;
            height: auto;
            position: fixed;
            top: 45%;
            right: 9%;
            transition: all 0.4s ease-in-out;
            transform: scale(0);
        }

        .light-a {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 53.4%;
            top: 36.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-b {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 40.6%;
            top: 55.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-c {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 42%;
            top: 31.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-d {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 66.2%;
            top: 66.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-e {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 70.2%;
            top: 38.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-f {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 63.9%;
            top: 49.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-g {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 62.3%;
            top: 41.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-h {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 33.7%;
            top: 48.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .light-i {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            right: 31.7%;
            top: 37.3%;
            position: absolute;
            cursor: pointer;

            &:focus {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }
}


@media (max-width: 768px) {
    body {
        .inner {
            .light-a {
                right: 52.6%;
                top: 44.3%;
            }

            .light-b {
                right: 34.6%;
                top: 59.3%;
            }

            .light-c {
                right: 37%;
                top: 39.3%;
            }

            .light-d {
                right: 69.2%;
                top: 67.3%;
            }

            .light-e {
                right: 75.2%;
                top: 44.3%;
            }

            .light-f {
                right: 66.9%;
                top: 54.3%;
            }

            .light-g {
                right: 64.3%;
                top: 46.3%;
            }

            .light-h {
                right: 24.7%;
                top: 53.3%;
            }

            .light-i {
                right: 22.7%;
                top: 44.3%;
            }
        }


    }
}

@media (max-width: 425px) {
    body {
        .inner {
            img {
                top: 20px;
                right: 40%;
                width: 95px;
            }

            .light-a {
                right: 50.4% !important;
                top: 44.3% !important;
            }

            .light-b {
                right: 25.6%;
                top: 59.3%;
            }

            .light-c {
                right: 28%;
            }

            .light-d {
                right: 75.2%;
                top: 67.3%;
            }

            .light-e {
                right: 82.2%;
            }

            .light-f {
                right: 70.9%;
            }

            .light-g {
                right: 67.3%;
                top: 46.3%;
            }

            .light-h {
                right: 11.7%;
            }

            .light-i {
                right: 8.7%;
            }
        }

        background-position: 46% 240%;
        background-size: 195% 100%;
    }
}

 @media(min-width:376px) and (max-width:392px){
   
    body{
        background-size: 228% 87%;
        background-position: 46% 0%!important;
    }

 }

@media (max-width: 375px) {
    body {
        .inner {
            img {
                top: 13px;
                right: 40%;
                width: 95px;
            }

            .light-a {
                right: 50.4% !important;
                top: 44.3% !important;
            }

            .light-b {
                right: 21.4% !important;
                top: 59.3% !important;
            }

            .light-c {
                right: 25% !important;
            }

            .light-d {
                right: 80.2%;
                top: 68.3%;
            }

            .light-e {
                right: 87.2%;
            }

            .light-f {
                right: 73.9%;
            }

            .light-g {
                right: 70.3%;
                top: 46.3%;
            }

            .light-h {
                right: 4.7%;
            }

            .light-i {
                right: 1.7%;
            }
        }

        background-size: 230% 100% !important;
        background-position: 46% 0%;
    }
}

@media (max-width: 320px) {
    body {
        .inner {
            img {
                top: 14px;
                right: 39%;
                width: 76px;
            }

            .light-a {
                right: 52.4% !important;
                top: 45.3% !important;
            }

            .light-b {
                right: 28.4% !important;
                top: 60.3% !important;
            }

            .light-c {
                right: 28.4% !important;
                top: 60.3% !important;
            }

            .light-d {
                right: 75.2%;
                top: 69.3%;
            }

            .light-e {
                right: 82.2%;
                top: 46%;
            }

            .light-f {
                top: 56.3%;
                right: 71.9%;
            }

            .light-g {
                right: 68.3%;
                top: 47.3%;
            }

            .light-h {
                top: 54%;
                right: 15.7%;
            }

            .light-i {
                top: 46%;
                right: 12.7%;
            }
        }

        background-position: 47% 0%;
        background-size: 184% 104% !important;
        zoom: 0.7;
    }
}

@media (max-width: 768px) {
    body {
        background-position: 46% 79%;
    }
}