/*# sourceMappingURL=app.css.map */


@font-face {
    font-family: 'Doctor.ttf';
    src: url('../fonts/Doctor.ttf');
}


* {
    margin: 0;
    padding: 0;
}

.title {
    font-family: "Doctor.ttf";
    color: #fff;
    font-size: 6vw;
    text-align: center;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // filter: drop-shadow(0px 5px 9px #ffa108);
    text-shadow: -2px 0px 27px #ffcb55;
    position: relative;
    width: max-content;
    margin: 0 auto;

    &:before {
        content: "the";
        position: absolute;
        left: 19px;
        font-size: 23px;
        top: -8px;
    }

    &:after {
        content: "group";
        position: absolute;
        right: 10px;
        font-size: 23px;
        bottom: 0;
    }

    @media(min-width:769px) {
        font-size: 6rem;
        line-height: 1;

        span {
            font-size: 4rem;
        }

        .first {
            position: absolute;
        }

        .last {
            position: absolute;
        }
    }

    @media(max-width:768px) {
        font-size: 10vw;
        top: 19px;

        span {
            font-size: 2.1rem;
            padding: 0 11px;
        }

    }

    @media(max-width:500px) {
        top: 36px;
        font-size: 18vw;
    }




}

.top-sec {
    background: #d5d5d5;
    display: none;

    .heading {
        font-size: 3rem;
        text-align: center;
        padding: 5px;
    }
}



body {
    // background: url(../images/bg-modify-v1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 46%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

    .box {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: url(../images/bg-modify-v3.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;

        .inner {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 4px;
            background-color: #ffffff85;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            column-gap: 15px;

            @media(max-width:768px) {
                column-gap: 10px;
                flex-wrap: nowrap;

            }

            .items {
                flex-basis: 6%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-align: center;

                    img {
                        text-align: center;
                        width: 75px;

                        @media(max-width:768px) {
                            width: 45px;
                        }
                    }
                }

                @media(max-width:768px) {
                    flex-basis: 10% !important;

                }

                @media(max-width:425px) {
                    flex-basis: 15% !important;

                    img {
                        width: 75% !important;
                    }
                }


            }




        }

        @media(max-width:960px) {
            background-position: 45% 0%;
            background-size: 188%;
            height: 870px;
        }


        @media(min-width:771px) and (max-width:960px) {
            background-position: 50% 69%;
            background-size: 205%;
            height: 100%;
        }

        @media(min-width:701px) and (max-width:770px) {
            background-position: 49% 78%;
            background-size: 177%;
            height: 100%;
        }

        @media(min-width:651px) and (max-width:700px) {
            background-position: 49% 78%;
            background-size: 257%;
            height: 100%;
        }

        @media(min-width:596px) and (max-width:650px) {
            background-position: 49% 0%;
            background-size: 227%;
            height: 100%;
        }

        @media(min-width:500px) and (max-width:595px) {
            background-position: 49% 0%;
            background-size: 258%;
            height: 100%;
        }

        @media(max-width:500px) {
            background-position: 49% -20%;
            background-size: 267%;
            height: 100%;
        }

        @media(max-width:425px) {
            background-position: 49% 70%;
            background-size: 332%;
            height: 100%;
        }

        @media(max-width:402px) {
            background-position: 49% 100%; 
        } 
        @media(max-width:375px) {
           background-size: 348%;
        }

    }





    // @media (max-width: 1024px) {
    //     background-position: 46% 0%;
    // }

    // @media (max-width: 768px) {
    //     background-position: 46% 15%;


    // }

    // @media (max-width: 425px) {
    //     background-size: 242% 88%;
    //     background-position: 46% 0% !important;
    // }

    



    // @media (max-width: 320px) {
    //     background-position: 47% 0%;
    //     background-size: 228% 100% !important;
    //     zoom: 0.7;
    // }
}