* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg-modify.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 79%;
    height: 100vh;

    @media(max-width:768px) {
        background-position: 46% 79%;
    }

    .inner {
        position: relative;
        height: 100vh;
        width: 100%;

        img {
            opacity: 0;
            width: 160px;
            height: auto;
            position: fixed;
            top: 45%;
            right: 9%;
            transition: all 0.4s ease-in-out;
            transform: scale(0);
        }

        .light-a {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            //background: green;
            right: 53.4%;
            top: 36.3%;
            position: absolute;
            cursor: pointer;

            &:hover {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }
}