/*# sourceMappingURL=app.css.map */
* {
    margin: 0;
    padding: 0; 
}

.top-sec {
    background: #d5d5d5;

    .heading {
        font-size: 3rem;
        text-align: center;
        padding: 5px;
    }
}

body {
    background: url(../images/bg-modify.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% -9vh;
    height: 100vh;

    .inner {
        position: relative;
        height: 100vh;
        width:100%;
        // border: 1px dashed grey;
        margin: 0 auto;

        img {
           width: 160px;
            height: auto;
            filter:   grayscale(1);  
            @media(max-width:768px) {
                width:90px ;
            }
            &:hover{
                filter: grayscale(0); 
            }

        }

        .light-a {
            position: absolute;
            right: 10px;
            top: 8%;
            
        }

        .light-b {
            position: absolute;
            right: 10px;
            top: 24%;
            
        }

        .light-c {
            position: absolute;
            right: 10px;
            top: 41%;
            
        }

        .light-d {
            position: absolute;
            right: 10px;
            bottom: 32%;
            
        }

        .light-e {
            position: absolute;
            right: 10px;
            bottom: 15%;
            
        }

        .light-f {
            position: absolute;
            left: 10px;
            top: 8%;
            
        }

        .light-g {
            position: absolute;
            left: 10px;
            top: 30%;
            
        }

        .light-h {
            position: absolute;
            left: 10px;
            top:49%;
            
        }

        .light-i {
            position: absolute;
            left: 10px;
               bottom: 8%;
            
        }

    }

    @media (max-width: 1024px) {
        background-position: 46% 0%;
    }

    @media (max-width: 768px) {
        background-position: 46% 0%;
    }

    @media (max-width: 425px) {
        background-size: 233% 99%;
        background-position: 46% 0% !important;
    }

    @media(min-width:376px) and (max-width:745px) {
        background-size: 239% 92%;
        background-position: 46% 104% !important;
    }

    @media (max-width: 375px) {
        background-size: 246% 100% !important;
        background-position: 46% 0%;
    }

    @media (max-width: 320px) {
        background-position: 47% 0%;
        background-size: 228% 100% !important;
        zoom: 0.7;
    }
}


body::-webkit-scrollbar {
  background-color:darkgray;
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #c4c4c4;
}