/*# sourceMappingURL=app.css.map */
* {
    margin: 0;
    padding: 0;
}

.top-sec {
    background: #d5d5d5;
    display: none;

    .heading {
        font-size: 3rem;
        text-align: center;
        padding: 5px;
    }
}



body {
    // background: url(../images/bg-modify-v1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 46%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

    .box {
        height: 105%;
        width: 100%;
        overflow: hidden;
        background: url(../images/bg-modify-v1.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        @media(max-width:960px) {
            background-position: 45% 0%;
            background-size: 188%;
            height: 870px;
        }
        @media(max-width:768px) {
            background-position: 45% 0%;
            background-size: 188%;
            height: 770px;
        }
        @media(min-width:501px) and (max-width:640px) {
            background-position: 45% 0%;
            background-size: 188%;
            height: 620px;
        }
        @media(min-width:500px) and (max-width:767px) {
            background-position: 45% 0%;
            background-size: 188%;
            height: 740px;
        }
        @media(max-width:500px) {
            background-position: 45% 0%;
            background-size: 188%;
            height: 570px;
        }

    }



    .inner {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        -moz-column-gap: 25px;
        column-gap: 25px;
        background-color: #fff;
        padding: 10px 0;

        @media(max-width:768px) {
            column-gap: 10px;
        }

        .items {
            flex-basis: 6%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
            }

            @media(max-width:768px) {
                flex-basis: 10% !important;

            }

            @media(max-width:425px) {
                flex-basis: 15% !important;

                img {
                    width: 75% !important;
                }
            }


        }




    }

    @media (max-width: 1024px) {
        background-position: 46% 0%;
    }

    @media (max-width: 768px) {
        background-position: 46% 15%;


    }

    @media (max-width: 425px) {
        background-size: 242% 88%;
        background-position: 46% 0% !important;



    }

    // @media(min-width:376px) and (max-width:745px) {


    //     background-size: 192% 67%;
    //     background-position: 46% 0% !important;

    //     .inner {
    //         top: 66%;
    //         .items {
    //             flex-basis: 15% !important;
    //         }
    //     }
    // }

    @media (max-width: 375px) {
        // background-size: 196% 85% !important;
        // background-position: 46% 0%;

        background-size: 174%;
        background-repeat: no-repeat;
        background-position: 46% 0%;
    }

    @media (max-width: 320px) {
        background-position: 47% 0%;
        background-size: 228% 100% !important;
        zoom: 0.7;
    }
}