/*# sourceMappingURL=app.css.map */
* {
    margin: 0;
    padding: 0;
}

.title {
    position: absolute;
    top: 5%;
    color: #fff;
    font-size: 3rem;
    text-align: center;
    top: 5%;
    left: 37%;
}

.top-sec {
    background: #d5d5d5;
    display: none;

    .heading {
        font-size: 3rem;
        text-align: center;
        padding: 5px;
    }
}



body {
    // background: url(../images/bg-modify-v1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 46%;
    height: 100vh;
    position: relative;
    overflow-x: hidden;

    .box {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: url(../images/bg-modify-v2.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;

        .inner {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 4px;
            background-color: #ffffff85;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            column-gap: 15px;

            @media(max-width:768px) {
                column-gap: 10px;

            }

            .items {
                flex-basis: 6%;
                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    text-align: center;

                    img {
                        text-align: center;
                        width: 105px;

                        @media(max-width:768px) {
                            width: 55px;
                        }
                    }
                }

                @media(max-width:768px) {
                    flex-basis: 10% !important;

                }

                @media(max-width:425px) {
                    flex-basis: 15% !important;

                    img {
                        width: 75% !important;
                    }
                }


            }




        }

        @media(max-width:960px) {
            background-position: 45% 0%;
            background-size: 188%;
            height: 870px;
        }

         
        @media(min-width:771px) and (max-width:960px) {
                   background-position: 50% 69%;
        background-size: 205%; 
            height: 100%;
        }
        @media(min-width:701px) and (max-width:770px) {
            background-position: 49% 78%;
            background-size: 206%;
            height: 100%;
        }

        @media(min-width:651px) and (max-width:700px) {
            background-position: 49% 78%;
            background-size: 257%;
            height: 100%;
        }

        @media(min-width:596px) and (max-width:650px) {
            background-position: 49% 0%;
            background-size: 227%;
            height: 100%;
        }

        @media(min-width:500px) and (max-width:595px) {
            background-position: 49% 0%;
            background-size: 258%;
            height: 100%;
        }

        @media(max-width:500px) {
            background-position: 49% 0%;
            background-size: 267%;
            height: 100%;
        }

    }





    @media (max-width: 1024px) {
        background-position: 46% 0%;
    }

    @media (max-width: 768px) {
        background-position: 46% 15%;


    }

    @media (max-width: 425px) {
        background-size: 242% 88%;
        background-position: 46% 0% !important;



    }

    // @media(min-width:376px) and (max-width:745px) {


    //     background-size: 192% 67%;
    //     background-position: 46% 0% !important;

    //     .inner {
    //         top: 66%;
    //         .items {
    //             flex-basis: 15% !important;
    //         }
    //     }
    // }

    @media (max-width: 375px) {
        // background-size: 196% 85% !important;
        // background-position: 46% 0%;

        background-size: 174%;
        background-repeat: no-repeat;
        background-position: 46% 0%;
    }

    @media (max-width: 320px) {
        background-position: 47% 0%;
        background-size: 228% 100% !important;
        zoom: 0.7;
    }
}