* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/bg-modify.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 79%;
    height: 100vh;

     .inner {
        position: relative;
        height: 100vh;
        width: 100%;

        img {
            opacity: 0;
            width: 160px;
            height: auto;
            position: fixed;
            top: 45%;
            right: 9%;
            transition: all 0.4s ease-in-out;
            transform: scale(0);

            @media(max-width:425px) {
                top: 20px;
                right: 40%;
                width: 95px;
            }

            @media(max-width:320px) {
                top: 14px;
                right: 39%;
                width: 76px;
            }
        }

        .light-a {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            // background: green;
            right: 53.4%;
            top: 36.3%;
            position: absolute;
            cursor: pointer;

            @media(max-width:425px) {
                right: 51.4%;
                top: 43.3%; 
            }

            &:hover {
                img {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }

    @media(max-width:768px) {
        background-position: 46% 79%;
    }

    @media (max-width: 425px) {

        background-position: 46% 240%;
        background-size: 195% 100%;

        .inner {
            .light-a {
                right: 50.4% !important;
                top: 44.3% !important;
            }
        }

    }

    @media (max-width: 320px) {

        background-position: 47% 0%;
        background-size: 185% 70%;

        .inner {
            .light-a {
                right: 49.4% !important;
                top: 29.3% !important;
            }
        }

    }

   
}